/* UltraLight (100) */
@font-face {
  font-family: 'IRANSansX';
  src: url('/fonts/IRANSansX/IRANSansX-UltraLight.woff2') format('woff2'),
    url('/fonts/IRANSansX/IRANSansX-UltraLight.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Thin (200) */
@font-face {
  font-family: 'IRANSansX';
  src: url('/fonts/IRANSansX/IRANSansX-Thin.woff2') format('woff2'),
    url('/fonts/IRANSansX/IRANSansX-Thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Light (300) */
@font-face {
  font-family: 'IRANSansX';
  src: url('/fonts/IRANSansX/IRANSansX-Light.woff2') format('woff2'),
    url('/fonts/IRANSansX/IRANSansX-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Regular (400) */
@font-face {
  font-family: 'IRANSansX';
  src: url('/fonts/IRANSansX/IRANSansX-Regular.woff2') format('woff2'),
    url('/fonts/IRANSansX/IRANSansX-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium (500) */
@font-face {
  font-family: 'IRANSansX';
  src: url('/fonts/IRANSansX/IRANSansX-Medium.woff2') format('woff2'),
    url('/fonts/IRANSansX/IRANSansX-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* DemiBold (600) */
@font-face {
  font-family: 'IRANSansX';
  src: url('/fonts/IRANSansX/IRANSansX-DemiBold.woff2') format('woff2'),
    url('/fonts/IRANSansX/IRANSansX-DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: 'IRANSansX';
  src: url('/fonts/IRANSansX/IRANSansX-Bold.woff2') format('woff2'),
    url('/fonts/IRANSansX/IRANSansX-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ExtraBold (800) */
@font-face {
  font-family: 'IRANSansX';
  src: url('/fonts/IRANSansX/IRANSansX-ExtraBold.woff2') format('woff2'),
    url('/fonts/IRANSansX/IRANSansX-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Black (900) */
@font-face {
  font-family: 'IRANSansX';
  src: url('/fonts/IRANSansX/IRANSansX-Black.woff2') format('woff2'),
    url('/fonts/IRANSansX/IRANSansX-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}