:root {
  --blue0: #2476ff;
  --blue1: #216be8;
  --blue2: #2476ff;
  --blue3: #222935;
  --blue4: #cee0fc;
  --blue5: #0007bc;
  --blue6: #a7c8ff;
  --blue7: #e9f1ff;
  --blue8: #dbe7fc;
  --blue9: #6ca3ff;
  --blue10: #6ca3ff;
  --blue11: #2476ff;
  --blue13: #2476ff33;
  --blue14: #2476ff29;
  --blue15: #2476ff26;
  --blue16: #2476ff1a;
  --blue17:#2476FF;
  --green1: #50af95;
  --green2: #3fb17e;
  --green3: #d9e8e3;
  --green4: #009f70;
  --green5: #99d9c6;
  --green6: #7ec17e;
  --green7: #518651;
  --green8: #3fb17e1a;
  --green9: #45C38B;
  --green10: #45c38b1f;
  --red1: #e11d48;
  --red2: #f6dfe6;
  --red3: #f3a5b6;
  --red4: #e00b0b;
  --red5: #ed7171;
  --red6: #e11d48;
  --red7: #e11d481f;
  --gray0: #e9f1ff;
  --gray1: #8792af;
  --gray2: #d1d9f0;
  --gray3: #586076;
  --gray4: #fbfbfc;
  --gray5: #586076;
  --gray6: #f3f5fb;
  --gray7: #fbfbfc;
  --gray8: #f5f6f9;
  --gray9: #f9fafb;
  --gray10: #e1e6f5;
  --gray11: #f5f6f8;
  --gray12: #8792af;
  --gray13: #fbfbfc;
  --gray14: #f6f8f9;
  --gray15: #8792af;
  --gray16: #f3f5fb;
  --gray17: #586076;
  --gray18: #fbfcfc;
  --gray19: #d1d9f0;
  --gray20: #d0d9f0;
  --gray21: #d1d9f0;
  --gray22: #e9f1ff;
  --gray23: #a7b2d9;
  --gray24: #586076;
  --gray25: #ffffff66;
  --gray26: #d1d9f0;
  --gray27: #f0f2f54d;
  --gray28: #e1e6f5;
  --gray29: #f0f2f5;
  --gray30: #f0f2f5b2;
  --gray31: #a7b2d9;
  --gray32: #e1e6f566;
  --gray33: #f0f2f566;
  --gray34: #a7b2d980;
  --gray43: #f5f6f8;
  --gray35: #a8a8a8;
  --gray36: #8792af14;
  --gray37: #f0f2f566;
  --gray38: #ffffff;
  --gray39: #626e94;
  --gray40: #f0f2f5;
  --gray41: #e1e6f566;
  --gray42: #e1e6f566;
  --gray43: #f5f6f8;
  --gray44: #f0f2f580;
  --gray45: #586076;

  --gray46: #D1D9F0;
  --gray47: #F0F2F5;
  --gray48: #FFFFFF;
  /* 48/49    درست کن تو کد     قبلش 42/43 بوده */
  --gray49: #D1D9F0;
 --gray50:#D1D9F0;
  --gray51:#FFFFFF;
  --gray52:#F0F2F5;
  --orange1: #ff9518;
  --orange2: #ffead1;
  --orange3: #ff951840;
  --orange4: #ff95181a;
  --orange5: #ff951829;
  --black0: #000000;
  --black1: #131c28;
  --black2: #292d32;
  --black3: #292929;
  --black4: #ffffff;
  --white1: #ffffff;
  --white2: #ffffff;
  --white3: #ffffff;
  --white4: #ffffff;
  --white5: #f0f2f5;
  --white6: #ffffff;
  --white7: #ffffff;
  --white8: #ffffff;
}

.dark {
  --blue0: #185bcc;
  --blue1: #216be8;
  --blue2: #2476ff;
  --blue3: #1b212a;
  --blue4: #1d3255;
  --blue5: #0007bc;
  --blue6: #1f437f;
  --blue7: #1b212a;
  --blue8: #162641;
  --blue9: #6ca3ff;
  --blue10: #242f3f;
  --blue11: #222935;
  --blue12: #5091ff;
  --blue13: #2476ff33;
  --blue14: #2476ff29;
  --blue15: #2476ff26;
  --blue16: #2476ff1a;
  --blue17:#BBD5FF;
  --green1: #50af95;
  --green2: #3fb17e;
  --green3: #203436;
  --green4: #009f70;
  --green5: #99d9c6;
  --green6: #7ec17e;
  --green7: #518651;
  --green8: #3fb17e1a;
  --green9: #45C38B;
  --green10: #45C38B1F;
  --red1: #e11d48;
  --red2: #33212e;
  --red3: #6a1f36;
  --red4: #e00b0b;
  --red5: #ed7171;
  --red6: #e11d48;
  --red7: #e11d481f;
  --gray0: #222935;
  --gray1: #a7b2d9;
  --gray2: #8792af;
  --gray3: #a7b2d9;
  --gray4: #1b212a;
  --gray5: #8792af;
  --gray6: #1b212a;
  --gray7: #181e28;
  --gray8: #121925;
  --gray9: #1b212a;
  --gray10: #131820;
  --gray11: #1b212a;
  --gray12: #8792af;
  --gray13: #131820;
  --gray14: #131820;
  --gray15: #586076;
  --gray16: #5f6471;
  --gray17: #d0d9f0;
  --gray18: #080f1a;
  --gray19: #586076;
  --gray20: #586076;
  --gray21: #242f3f;
  --gray22: #b0c6ff;
  --gray23: #a7b2d9;
  --gray24: #586076;
  --gray25: #22293566;
  --gray26: #222935;
  --gray27: #222935;
  --gray28: #222935;
  --gray29: #0a121f;
  --gray30: #222935;
  --gray31: #586076;
  --gray32: #e1e6f566;
  --gray33: #0a121f33;
  --gray34: #a7b2d980;
  --gray35: #6d6d6d;
  --gray36: #8792af14;
  --gray37: #222935;
  --gray38: #0a121f;
  --gray39: #626e94;
  --gray40: #242f3f;
  --gray41: #222935;
  /* --gray42:#0F141D; */
  /* --gray43:#242F3F; */

  --gray42: #242f3f;
  --gray43: #222935;
  --gray44: #222935;
  --gray45: #a8a8a8;
  --gray46: #242f3f;
  --gray47: #222935;
  --gray49:#586076;
  --gray50:#585858;
  --gray51:#131824;
  --gray52:#0A121F33;
  --orange1: #ff9518;
  --orange2: #1d1b1c;
  --orange3: #ff95180f;
  --orange4: #ff95181a;
  --orange5: #ff951829;
  --black0: #ffffff;
  --black1: #ffffff;
  --black2: #ffffff;
  --black3: #ffffff;
  --black4: #131c28;
  --white1: #0a121f;
  --white2: #ffffff;
  --white3: #1b212a;
  --white4: #080e19;
  --white5: #222935;
  --white6: #242f3f;
  --white7: #1e1e1e;
  --white8: #222935;
}