
:root {
  --primary: #2476FF;
  --secondary: #E9F1FF;
  --info:#FFFFFF;
  --third: #6CA3FF;
  --background: #E9F1FF;
  --border: #292929;
  --border-primary: #D1D9F0;
  --text-black: #131C28;
  --text-gray:#8792AF;
  --error:#E11D48;
  --text: #000000;
  --background-main:#FFFFFF;
  --header-items:#8792AF;
  --success: #3FB17E;
  --forth:#586076;

  --primary: #2476FF;
  --secondary: #E9F1FF;
  --third: #6CA3FF;
  --blue2: #2476FF;
  --green1: #3FB17E;
  --grey1: #A7B2D9;
  --background: #E9F1FF;
  --border: #292929;
  --border-primary: #D1D9F0;
  --border-secondary: #D1D9F0;
  --text: #000000;
  --chart:#009F70;
  --backgroundBox:#D1D9F0;
  --backgroundSyncSlider:#F0F2F5;
  --backgroundCard:#fbfbfc;
  --background-main: #FFFFFF;
  --header-items: #8792AF;
  --bg2: #FFFFFF66;
  --bg3: #FF951840;
  --bg4: #F0F2F5;
  --text2: #8792AF;
  --text3: #FF9518;
  --text4: #131C28;
  --text5: #586076;
  --text6: #FFFFFF;
  --text7: #586076;
}

.dark {
  --primary: #185BCC;
  --secondary: #B0C6FF;
  --third: #242F3F;


  --extra-dark-background: #080e19;

  --background-main:#0A121F;
  --header-items:#A7B2D9

  --blue2: #5091FF;
  --green1: #3FB17E;
  --grey1: #A7B2D9;
  --background: #222935;
  --border: #FFFFFF;
  --border-primary: #8792AF;
  --border-secondary: #242F3F;
  --text: #FFFFFF;
  --chart:#009F70;
  --backgroundSyncSlider:#242F3F;
  --backgroundCard:#1b212a;
  --background-main: #0A121F;
  --header-items: #A7B2D9;
  --bg2: #22293566;
  --bg3: #FF95180F;
  --bg4: #222935;
  --text2: #8792AF;
  --text3: #FF9518;
  --text4: #FFFFFF;
  --text5: #586076;
  --text6: #FFFFFF;
  --text7: #8792AF;
}





input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--extra-dark-background) inset; 
  -webkit-text-fill-color: var(--primary);
  transition: background-color 5000s ease-in-out 0s;
}







