:root {

    --blue0:#2476FF;
    --blue1:#216BE8;
    --blue2:#2476FF;
    --blue3:#222935;
    --blue4:#cee0fc;
    --blue5:#0007bc;
    --blue6:#a7c8ff;
    --blue7:#e9f1ff;
    --blue8:#dbe7fc;
    --blue9:#6CA3FF;
    --blue10:#6CA3FF;
    --blue11:#2476FF;
    --green1:#50AF95;
    --green2:#3FB17E;
    --green3:#d9e8e3;
    --green4:#009F70;
    --green5:#99d9c6;
    --green6:#7ec17e;
    --green7:#518651;
    --green8:#3FB17E1A;
    --red1:#E11D48;
    --red2:#f6dfe6;
    --red3:#f3a5b6;
    --red4:#e00b0b;
    --red5:#ed7171;
    --red6:#E11D481A;
    --gray0:#E9F1FF;
    --gray1:#8792AF;
    --gray2:#D1D9F0;
    --gray3:#586076;
    --gray4:#fbfbfc;
    --gray5:#586076;
    --gray6:#f3f5fb;
    --gray7:#fbfbfc;
    --gray8:#f5f6f9;
    --gray9:#f9fafb;
    --gray10:#e1e6f5;
    --gray11:#f5f6f8;
    --gray12:#8792af;
    --gray13:#fbfbfc;
    --gray14:#f6f8f9;
    --gray15:#8792af;
    --gray16:#f3f5fb;
    --gray17:#586076;
    --gray18:#fbfcfc;
    --gray19:#D1D9F0;
    --gray20:#d0d9f0;
    --gray21:#D1D9F0;
    --gray22:#E9F1FF;
    --gray23:#A7B2D9;
    --gray24: #586076;
    --gray25:#FFFFFF66;
    --gray26:#D1D9F0;
    --gray27:#F0F2F54D;
    --gray28:#e1e6f5;
    --gray29:#F0F2F5;
    --gray30:#F0F2F5B2;
    --gray31:#a7b2d9;
    --gray32:#E1E6F566;
    --gray33:#F0F2F566;
    --gray34:#A7B2D980;
    --orange1:#ff9518;
    --orange2:#ffead1;
    --orange3:#FF951840;
    --orange4:#FF95181A;
    --black0:#000000;
    --black1:#131c28;
    --black2:#292d32;
    --black3:#292929;
    --white1:#FFFFFF;
    --white2:#FFFFFF;
    --white3:#ffffff;
    --white4:#ffffff;
    --white5:#F0F2F5;
    --white6:#FFFFFF;
    --white7:#ffffff;
    --white8:#ffffff;

    
}

.dark {
  
  --blue0:#185BCC;
  --blue1:#216BE8;
  --blue2:#2476FF;
  --blue3:#1b212a;
  --blue4:#1d3255;
  --blue5:#0007bc;
  --blue6:#1f437f;
  --blue7:#1b212a;
  --blue8:#162641;
  --blue9:#6ca3ff;
  --blue10:#242F3F;
  --blue12:#5091FF;
  --green1:#50AF95;
  --green2:#3FB17E;
  --green3:#203436;
  --green4:#009F70;
  --green5:#99d9c6;
  --green6:#7ec17e;
  --green7:#518651;
  --green8:#3FB17E1A;
  --red1:#E11D48;
  --red2:#33212e;
  --red3:#6a1f36;
  --red4:#e00b0b;
  --red5:#ed7171;
  --red6:#E11D481A;
  --gray0:#222935;
  --gray1:#A7B2D9;
  --gray2:#8792AF;
  --gray3:#A7B2D9;
  --gray4:#1b212a;
  --gray5:#8792AF;
  --gray6:#1b212a;
  --gray7:#181e28;
  --gray8:#121925;
  --gray9:#1b212a;
  --gray10:#131820;
  --gray11:#1b212a;
  --gray12:#8792af;
  --gray13:#131820;
  --gray14:#131820;
  --gray15:#586076;
  --gray16:#5f6471;
  --gray17:#d0d9f0;
  --gray18:#080f1a;
  --gray19:#586076;
  --gray20:#586076;
  --gray21:#242f3f;
  --gray22:#B0C6FF;
  --gray23:#A7B2D9;
  --gray24:#586076;
  --gray25: #22293566;
  --gray26:#222935;
  --gray27:#222935;
--gray28:#222935;
--gray29:#0A121F;
--gray30:#222935;
--gray31:#586076;
--gray32:#E1E6F566;
--gray33:#0A121F33;
--gray34:#A7B2D980;
  --orange1:#ff9518;
  --orange2:#1d1b1c;
  --orange3: #FF95180F;
  --orange4:#FF95181A;
  --black0: #FFFFFF;
  --black1:#FFFFFF;
  --black2:#ffffff;
  --black3: #FFFFFF;
  --white1:#0A121F;
  --white2:#FFFFFF;
  --white3:#1b212a;
  --white4:#080e19;
  --white5:#222935;
  --white6:#242F3F;
  --white7:#1E1E1E;
  --white8:#222935;
}
