
:root {
  --primary: #2476FF;
  --secondary: #E9F1FF;
  --third: #6CA3FF;
  --background: #E9F1FF;
  --border: #292929;
  --border-primary: #D1D9F0;
  --text: #000000;
  --background-main:#FFFFFF;
  --header-items:#8792AF
}

.dark {
  --primary: #185BCC;
  --secondary: #B0C6FF;
  --third: #242F3F;
  --background: #222935;
  --border: #FFFFFF;
  --border-primary: #8792AF;
  --text: #FFFFFF;
  --background-main:#0A121F;
  --header-items:#A7B2D9
}



