

@import url("/fonts/fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: "IRANSansX", sans-serif;
}


html,
body,
#root {
  min-height: 100vh;
  /* Full-height app container */
}

/* Optional: better font rendering */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* base ============================================================================================================== */
@layer base {
  /* Chrome, Safari, Edge, Opera */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--extra-dark-background) inset;
    -webkit-text-fill-color: var(--primary);
    transition: background-color 5000s ease-in-out 0s;
  }
}

/* custom classes ============================================================================================================== */
@layer utilities {
  .container-style {
    @apply mx-auto px-4 lg:px-10 max-w-[1360px];
  }

  .icon-wrapper {
    @apply inline-block leading-none align-middle;
  }
}

/* custom scrollbar for web apps ============================================================================================================== */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

