name: React Panel Deployment

on:
  push:
    branches: [main, dev]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install & Build
        run: |
          npm install --legacy-peer-deps
          npm run build

      - name: Install SSH key
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy to Server
        run: |
          if [ "${GITHUB_REF}" == "refs/heads/main" ]; then
            TARGET_DIR="/home/payfa24/domains/payfa24.org/panel/main"
            CONTAINER_NAME="react-main"
            PORT=3200
          else
            TARGET_DIR="/home/payfa24/domains/payfa24.org/panel/dev"
            CONTAINER_NAME="react-dev"
            PORT=3300
          fi

          # ایجاد پوشه و انتقال فایل‌ها
          ssh -o StrictHostKeyChecking=no -p 3031 root@45.159.114.231 "mkdir -p ${TARGET_DIR}"
          scp -P 3031 -r dist/* root@45.159.114.231:${TARGET_DIR}/

          # اجرای کانتینر
          ssh -o StrictHostKeyChecking=no -p 3031 root@45.159.114.231 "
            docker stop ${CONTAINER_NAME} 2>/dev/null || true
            docker rm ${CONTAINER_NAME} 2>/dev/null || true

            # تغییر دسترسی فایل‌ها در خودِ سرور لینوکس قبل از وصل کردن به داکر
            chmod -R 755 ${TARGET_DIR}

            echo 'Starting container on port ${PORT}...'
            docker run -d \
              --name ${CONTAINER_NAME} \
              -p ${PORT}:80 \
              -v ${TARGET_DIR}:/usr/share/nginx/html \
              --restart unless-stopped \
              nginx:alpine
          "
